@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.Products{
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #F8F8F8;
}



.ProductsContainer{
    width: 90%;
    height: 100%;



}

.ProductsPageHeader{
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


    /* background-color: brown; */
}


.ProductsPageHeader .ProductsResults{
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 18px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    letter-spacing: 0.75px;
    /* background-color: yellow; */
}


.ProductsResults .FindItens{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #474747;
    letter-spacing: 0.75px;
}

.ProductsPageHeader .SelectOrder{
    width: 20%;
    height: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 22px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #1F1F1F;
    border-color: #474747;
    border-radius: 4px;
    text-align: center;



    /* background-color: white; */

}

.ListAllProducts{
    width: 100%;
    height: 700px;
    
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    
    /* background-color: pink; */
}

.ListAllProducts .ProductsFilter{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.75px;
    color: #474747;

    
}

.BrandFilter{
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

.ShowAllProducts{
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

