
.Footer{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    width: 100%;
    align-items: center;
    height: auto;
    
        
    
}
.FooterTop{

    height: 350px;
    width: 93%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
  
 
    
}
 .FooterLogo{
    gap: 35px;  
    height: 250px;
    width: 25%;
    display: flex;
    flex-direction: column;
   
    
    
}
.FooterLogoText{
    font-weight: lighter;
    color:#FFFFFF;
   
}

.FooterContent{
    width: 150px;
    display: flex;
    justify-content: space-between;
   
}
.logoFooter {
    height:auto;
    width:70%;
    
}

p{
    
    font-size: 19px;
    font-weight: 500;
    
}

h5{
    font-weight: lighter;
    font-weight: 1px;
    color:#FFFFFF;
   
    
   
}
h6{
    display: flex;
    align-items: center;
    
}
.a{
    gap: 20px;
    width: 10%;
    height: 250px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.b{
    gap: 20px;
    width: 15%;
    height: 250px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.FooterBottom{
    height: auto;
    height: 60px;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


hr{
  
    background-color: rgba(255, 255, 255, 0.200);
    width: 90%;
    height: 0.1vw;
    border: none;
   

}
.hrAjuste{
    display: flex;
    justify-content: center;
}
