.Container{
    width: 100%;
    background-color: #FFFFFF;
 
}
.containerText{
    width: 589px;
    color: black;
}
.container_content{
    width: 100%;
    height: 553px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-around;
}
